@model AgenciaBancaria.Models.Conta

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Conta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Agencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Agencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numeroDaConta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numeroDaConta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Senha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Senha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataDeCadastro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataDeCadastro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Saldo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Saldo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataDeCancelamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataDeCancelamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
		if (TempData["Mensagem"] != null)
		{
			<span class="text-danger">@TempData["Mensagem"]</span>
		}
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
