@model IEnumerable<AgenciaBancaria.Models.Conta>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Agencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numeroDaConta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Senha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataDeCadastro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Saldo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataDeCancelamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Agencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numeroDaConta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Senha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataDeCadastro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Saldo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataDeCancelamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
